<%-include('./includes/admin-header.ejs')-%>
<section class="container h-100 mt-4">
    <h2 class="text-center">Menu Details</h2>
    <div class="row mb-2">
        <div class="d-flex justify-content-center mb-4 col-12">
            <form action="/admin/menu" class="col-12 col-md-6">
                <input type="text" class="col-8 m-2 pyy-2" name="search" placeholder="Search....">
                <input type="submit" class="col-auto btn btn-success p-2" value="Search">
            </form>

        </div>
        <div class="d-flex justify-content-end mb-4 col-12">
            <a href="/admin/add-item" class="btn btn-info">Add Item</a>

        </div>
        <div class="table-responsive">
            <table class="table shadow">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>

                </thead>
                <tbody class="searchable">
                    <% for(let i=0; i < itemdetails.length; i++){%>
                      <tr>
                        <td><%=i+1%></td>
                        <td><%=itemdetails[i].item_name%></td>
                        <td><%=itemdetails[i].desc%></td>
                        <td><%=itemdetails[i].category%></td>
                        <td><%=itemdetails[i].quantity%></td>
                        <% if(itemdetails[i].stock){%>
                          <td>In stock</td>
                          <%}else{%>
                            <td>Out of Stock</td>
                            <%} %>
                        <td><%=itemdetails[i].price%></td>
                        <td>
                            <a href="/admin/edit-item/<%=itemdetails[i]._id%>"  class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                            <a onclick="confirmation('<%=itemdetails[i]._id%>')"  class="text-success"><i style="color: red;" class="fas fa-trash fa-lg mx-1"></i ></a>
                        </td>
                      </tr>
                        <%} %>

                </tbody>
            </table>
        </div>

    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="text-success page-link disabled" >Page <%=previous+1%></li>
          <%if( previous > 0){%>
          <li class="page-item ">
            <a class="page-link" href="?page=<%=previous%> ">Previous</a>
          </li>
          <%}%>
       
          <li class="page-item" ><a class="page-link sameclass"  href="?page=<%=1%>"><%=1%></a></li> 
          <li class="page-item" ><a class="page-link sameclass "  > ...</a></li>
          <li class="page-item"><a class="page-link disabled" href="?page=<%=totalPages%>"><%=totalPages%></a></li>
		  <%console.log(totalPages,previous)%>
          <%if(totalPages >= (previous+2)){%>
          <li class="page-item">
            <a class="page-link" href="?page=<%=previous+2%> ">Next</a>
         
          </li>
          <%}%>
         
            
        </ul>
      </nav>

</section>
<script>
    function confirmation(id) {
  swal({
    title: "Are you sure?",
    text: "Once deleted, you will not be able to recover this item!",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  })
  .then((result) => {
    // redirect with javascript here as per your logic after showing the alert using the urlToRedirect value
    if (result) {
     
  
      swal("file has been deleted!", {
        icon: "success",
      }).then(()=>{
         location.href = `/admin/deleteitem/${id}`;
      })
     
    } else {
      swal("Your  item is safe!");
    }
  });
  }
  </script>

<%-include('./includes/admin-footer.ejs')-%>